  /*--------------------------------------
  Basis
  ---------------------------------------*/
  
  html {
      width:100%;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      opacity: 0.9;
      font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  }

  body {
      width: 100%;
      margin: 0;
      padding: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
  }

  a:hover {
    opacity: 0.7;
  }

  /*--------------------------------------
  Header
  ---------------------------------------*/
  #header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
    height:100px;
    margin-bottom: 50px;  
  }

  .header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header-upper {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 10px;

  }

  .header-upper h2{
    margin: 0;
    color: white;
    font-size: 1rem;
  }

  .header-site-logo {
    display: flex;
    justify-content: center;
  }

  .header-site-logo img{
    width:30%;
  }

  .header-container h1 {
    margin: 0 auto;
    font-size: 1.5rem;
  }

  /*--------------------------------------
  Mainvisual
  ---------------------------------------*/
  .mainvisual {
      width:85%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 50px;
  }
  .sliderArea {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 30vw;
    display: flex;
    justify-content: center;
  }

  .sliderArea.w300 {
    width:100%;
  }
  .slick-slide {
    margin: 0 5px;
    width: 100%;
  }
  .slick-slide img {
    width: 100%;
    height:32vw;
  }
  .slick-prev, .slick-next {
    z-index: 1;

  }
  .slick-prev:before, .slick-next:before {
    display: flex;
    justify-content:center;
    background-color: black;
    border-radius: 50%;
    color: #000;
  }
  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .5;
  }
  .slick-active {
    opacity: 1;
  }
  .slick-current {
    opacity: 1;
  }

  .slick-current:hover {
    opacity: 0.7;
  }

  .thumb {
    margin: 20px 0 0;
  }
  .thumb .slick-slide {
    cursor: pointer;
  }
  .thumb .slick-slide:hover {
    opacity: .7;
  }

  .slick-track{
    width:100%;
  }

  .slick-list.draggable {
    width:100%;
    margin-bottom:30px;
  }

  .mainvisual-slide {
    position: relative;

  }

  .slide-text {
    position: absolute;
    top:220px;
    left:45px;
    width:400px;
    margin: 0 auto;
    z-index: 2;
    background-color:blueviolet;
    opacity: 0.8;
    color: white;
    text-align: center;
    font-size: 1rem;

  }

  .slider-text-accent{
    border-bottom: white solid 1px;
  }


  /*--------------------------------------
  Slick-full-screen
  ---------------------------------------*/

  .full-screen_one.slick-list {
    width:100%;
    overflow:visible;

  }

  .full-screen_one.slider {
    width:90%;
    display: flex;
    justify-content: center;

  }

  /*--------------------------------------
  Slick-full-option
  ---------------------------------------*/
  body {
    font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    letter-spacing: .025em;
    line-height: 1.8;
    margin: 0;
  }
  @media screen and (max-width: 1024px) {
    body {
      font-size: 14px;
    }
  }
  .section {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
  }
  .section p._a {
    font-size: 12px;
    font-weight: bold;
    margin: 30px 0 0;
  }
  .section p._a .link {
    display: inline-block;
    color: #607D8B;
    padding-left: 1.3em;
    text-indent: -1.3em;
  }
  .section p._a .link:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: 2px solid #607D8B;
    border-right: 2px solid #607D8B;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 10px;
  }

  /*--------------------------------------
  Article
  ---------------------------------------*/
  .article {
    width: 95%;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
  }

  /*--------------------------------------
  Main
  ---------------------------------------*/
  #main {
    width:58%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .main-title {
    border-bottom: blueviolet solid 2px;
    margin-bottom: 30px;
  }

  .main-title h3 {
    color:blueviolet;
    margin:0;
    font-size: 1.5rem;
  }

  .article-img-boxes1 {
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .article-img-box {
    width:47%;
    height:25vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .article-img-box:hover {
    opacity: 0.7;
  }


  .article-img-box img{
    width: 100%;
    height:17vw;
  }

  .article-img-box-title {
    background-color: blueviolet;
    position: absolute;
    left:0px;
    top:0px;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article-img-box-title a {
    color: white ;
    font-weight: bold;
    margin: 0;
    padding: 5px;
  }

  .article-img-box-text {
    padding: 10px;
  }


  .see-more {
    display: flex;
    justify-content:center;
    background-color: blueviolet;
    border-radius: 10px;
    font-weight: bold;
    width:200px;
    border:transparent;
    cursor: pointer;
    margin: 0 auto;
  }

  .see-more:hover {
    opacity: 0.7;
  }

  .see-more p{
    color: white;
    
  }

  .see-more.hidden {
    display: none;
  }

  .see-close.hidden {
    display:none;
  }

  .see-close {
    display: flex;
    justify-content:center;
    background-color: blueviolet;
    border-radius: 10px;
    font-weight: bold;
    width:200px;
    border:transparent;
    cursor: pointer;
    margin: 0 auto;
  }

  .see-close:hover {
    opacity: 0.7;
  }

  .see-close p{
    color: white;
    
  }

  .article-img-boxes2 {
    width: 100%;
    display:none;
    justify-content:space-between;
    flex-wrap: wrap;
    transition: all 3s ease;
  }

  .article-img-boxes2.show {
    display: flex;
  }


  /*--------------------------------------
  Aside
  ---------------------------------------*/
  #aside {
    width:37%;
  }

  .aside-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .aside-title {
    background-color: blueviolet;
    width:90%;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .aside-title h3 {
    color: white;
    text-align: center;
    margin:0;
  }

  .aside-boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .aside-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vw;
    margin: 0;
    border-bottom:grey solid 1px;
    margin-bottom: 10px;
    position: relative;
  }

  .aside-box a:hover {
    opacity: 0.7;
  }

  .aside-box-number {
    background-color: blueviolet;
    color:white;
    width:10%;
    height:3vw;
    position:absolute;
    top:11px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    font-weight: bold;
  }

  .aside-box-img {
    display: flex;
    justify-content: center;
    width:55%;
    height:10vw;
    margin:0;
  }

  .aside-box-img img{
    width: 100%;
    height: 10vw;
    margin: 0;
    padding: 0;
  }

  .aside-box-text {
    width: 40%;
  }
  /*--------------------------------------
  Pages
  ---------------------------------------*/
  .pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .page-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-list li {
    margin-right: 12px;
  }

  .page-list li:first-of-type {
    font-weight: bold ;
  }

  .page-next {
    background-color: blueviolet;
    border-radius: 5px;
    width:10%;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    color: white;
    font-weight: bold;
  }

  .page-next:hover{
    opacity: 0.7;
  }

  .page-next a {
    color: white;
    margin: 0;
    font-weight: bold;
  }

  /*--------------------------------------
  Footer
  ---------------------------------------*/
  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:blueviolet;
  }

  #footer p {
    color: white;
  }

  /*--------------------------------------
  Index-Pad
  ---------------------------------------*/
  @media screen and (max-width:1024px) {
    .slide-text {
      position: absolute;
      top:200px;
      left:30px;
      width:400px;
      margin: 0 auto;
      z-index: 2;
      background-color:blueviolet;
      opacity: 0.8;
      color: white;
      text-align: center;
      font-size: 1rem;
    
    }

    .article-img-box {
      width:47%;
      height:30vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
    }

    .article-img-box-title {
      background-color: blueviolet;
      position: absolute;
      left:0px;
      top:17px;
      width:30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .aside-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 18vw;
      margin: 0;
      border-bottom:grey solid 1px;
      margin-bottom: 10px;
      position: relative;
    }

    .aside-box-number {
      background-color: blueviolet;
      color:white;
      width:10%;
      height:3vw;
      position:absolute;
      top:11px;
      left:0px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
      font-weight: bold;
    }
    
    .aside-box-img {
      display: flex;
      justify-content: center;
      width:55%;
      height:15vw;
      margin:0;
    }
    
    .aside-box-img img{
      width: 100%;
      height: 14vw;
      margin: 0;
      padding: 0;
    }
    
  }

  @media screen and (max-width:768px) {
    .slide-text {
      position: absolute;
      top:120px;
      left:50px;
      width:250px;
      margin: 0 auto;
      z-index: 2;
      background-color:blueviolet;
      opacity: 0.8;
      color: white;
      text-align: center;
      font-size: 0.8rem;
    
    }



    .article-img-box-title {
      background-color: blueviolet;
      position: absolute;
      left:0px;
      top:8px;
      width:30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }




  /*--------------------------------------
  Index-SP
  ---------------------------------------*/
  @media screen and (max-width: 767px) {

  /*--------------------------------------
  Header
  ---------------------------------------*/
  #header {
    height: 17vw;
  }

  .header-container h1 {
    font-size: 0.8rem;
  }

  .header-site-logo img {
    width:70%;
  }

  .header-upper h2 {
    font-size:0.6rem;
  }


  /*--------------------------------------
  Mainvisual
  ---------------------------------------*/
  .mainvisual {
    width:90%;
    height:40vw;
  }

  .sliderArea {
    height: 50vw;
  }

  .slick-list.draggable {
    margin-bottom: 0;
  }

  .slide-text {
    position: absolute;
    top:90px;
    left:13px;
    width:100px;
    margin: 0 auto;
    z-index: 2;
    background-color:blueviolet;
    opacity: 0.8;
    color: white;
    text-align: center;
    font-size: 0.6rem;
    vertical-align:middle;
  }

  /*--------------------------------------
  Article
  ---------------------------------------*/
  .article {
    justify-content:center;
    flex-direction: column;  
  }

  /*--------------------------------------
  Main
  ---------------------------------------*/
  #main {
    width:100%;
  }

  .main-title {
    border-bottom: blueviolet solid 2px;
    margin: 0 auto;
    margin-bottom:10px;
  }

  .main-title h3 {
    margin:0 auto;
    font-size: 1.1rem;
  }

  /*--------------------------------------
  Article
  ---------------------------------------*/
  .article-img-boxes1{
    flex-direction: column;
  }

  .article-img-box {
    width: 80%;
    margin: 0 auto;
    height: 55vw;
    margin-bottom: 20px;
  }

  .article-img-box img {
    height: 35vw;
  }

  .article-img-box-title {
    position:absolute;
    top:10px;
    width:25%;
  }

  .article-img-box-title a {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
    padding: 5px;
  }

  .article-img-box-text{
    padding: 0;
  }

  .article-img-box-text a{
    font-size: 0.9rem;
  }
  /*--------------------------------------
  Aside
  ---------------------------------------*/
  #aside {
    width:100%;
  }

  .aside-box {
    height: 45vw;
  }

  .aside-box-img {
    display: flex;
    justify-content: center;
    width:55%;
    height:40vw;
    margin:0;
  }

  .aside-box-img img{
    width: 100%;
    height: 35vw;
    margin: 0;
    padding: 0;
  }

  /*--------------------------------------
  Pages
  ---------------------------------------*/
  .pages {
    flex-direction: column;
  }

  .page-list{
    justify-content: center;
    padding: 0;
  }

  .page-list li{
    padding: 0;
    margin: 0 5px;
    margin-top: 20px;
  }

  .page-next {
    width:40%;
  }

  /*--------------------------------------
  Footer
  ---------------------------------------*/
  #footer p {
    font-size: 0.6rem;
  }

  }

  /*--------------------------------------
  Absolute-arrange
  ---------------------------------------*/
  @media screen and (max-width:767px) {
    .slide-text {
      top:100px;
      left:40px;
      width:110px;
      font-size: 0.45rem;
    
    }
    
    .article-img-box-title {
      top:10px;
    }

    .aside-box-number {
      height:9vw;
    }



  }

  @media screen and (max-width:413px) {
    .slide-text {
      top:85px;
      left:30px;
      width:110px;
      font-size: 0.45rem;
    
    }
    
    .article-img-box-title {
      top:10px;
    }

    .aside-box-number {
      height:8vw;
    }

  }


  @media screen and (max-width:374px) {

  .slide-text {
    top:70px;
    left:23px;
    width:100px;
    font-size: 0.45rem;

  }

  .article-img-box-title {
    top:3px;
  }

  .aside-box-number {
    height:7vw;
  }

  }

  /*-----------------------------------------------------------------------------------------------------------------
  Column
  ------------------------------------------------------------------------------------------------------------------*/
  #column-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .column-header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:auto;
  }

  .column-header-upper{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  }

  .column-header-upper h2 {
    color: white;
    margin: 0;
    font-size: 1rem;
  }

  .column-header-site-logo {
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
  }



  .column-header-site-logo img{
    width: 100%;
    height: 70px;
  }

  .column-header-site-logo img:hover {
    opacity: 0.7;
  }

  /*--------------------------------------
  bread-list
  ---------------------------------------*/

  .bread-list{
    background-color:rgb(204,204,204);
    border-top: black 1px solid;
    border-bottom: black 1px solid;

  }

  .bread-list ol {
    display: flex;
    padding: 5px 20px;
    margin: 0;
  }

  .bread-list li {
    margin-right: 20px;
  }

  .bread-list-accent {
    color: blue;
    border-bottom:blue 1px solid;
  }



  /*--------------------------------------
  contents
  ---------------------------------------*/
  .column-container{
    display: flex;
    justify-content:space-between;
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }

  /*--------------------------------------
  column-main
  ---------------------------------------*/
  #column-main {
  width:50%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}


  /*--------------------------------------
  site-title
  ---------------------------------------*/
  .site-title {
    display: flex;
    justify-content:center;
    text-align:left;
    border-bottom:2px blueviolet solid;
    width: 95%;
    margin: 0 auto;
  }

  .site-title h1 {
    margin-bottom: 0;
    text-align: center;
  }


  /*--------------------------------------
  editor-name
  ---------------------------------------*/
  .editor-name {
    margin-left: 20px;
  }



  /*--------------------------------------
  sns-list
  ---------------------------------------*/
  .sns-list {
    width:80%;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;

  }

  .sns-list a:hover{
    opacity: 0.7;

  }

  .twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 3vw;
    width:15%;
    background-color:rgb(29,161,242);
  }

  .fab.fa-twitter {
      color: white;
  }

  .facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 3vw;
    width:15%;
    background-color:rgb(59,89,152);
  }

  .fab.fa-facebook-f {
      color: white;
  }

  .google {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 3vw;
    width:15%;
    background-color:#d34836;

  }

  .fab.fa-google-plus-g{
    color: white;
  }

  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 3vw;
    width:15%;
    background-color: #00B900;
  }

  .fab.fa-line{
    color: white;
    margin: 0;
  }
  /*--------------------------------------
  Column-mainvisual
  ---------------------------------------*/
  .column-mainvisual{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

  }

  #column-main{
    margin: 0 auto;
    width: 100%;
  }

  .column-mainvisual img {
    width: 80%;
  }

  /*--------------------------------------
  column-index
  ---------------------------------------*/
  .column-index{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:1px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
  }

  .column-index-title {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  .column-index-title p {
    color: white;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .column-index-contents {
    background-color:rgb(224,181,211,0.5);
    padding: 20px 20px;
    font-weight: bold;
  }

  .column-index-contents a {
    display: block;
    margin: 5px 0px;
    font-size: 1.2rem;
  }

  .column-index-contents a:hover{
    opacity: 0.7;
  }

  /*--------------------------------------
  column-outline
  ---------------------------------------*/
  .column-outline {
    margin: 0 auto;
    margin-bottom: 30px;
    width:90%;
  }

  /*--------------------------------------
  column-contents
  ---------------------------------------*/
  #column-contents1,
  #column-contents2,
  #column-contents3 {
    margin-bottom:20px;
    width: 90%;
  }
  .column-contents-title{
    display: flex;
    border-bottom:1px solid black;
    height: 5vw;
    align-items: center;
  }

  .column-contents-title p{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  .column-contents-title-block {
    display: block;
    width:3%;
    height: 5vw;
    background-color:blueviolet;
    margin-right: 10px;
  }

  #column-contents2 img {
    width:90%;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
  }
  .column-contents-text{
    display: flex;
    justify-content: center;
    width:90%;
    margin: 0 auto;
  }
  .column-contents-text-accent {
    font-weight: bold;
  }


  /*--------------------------------------
  column-editor
  ---------------------------------------*/
  .column-editor {
    display: flex;
    justify-content:space-around ;
    background-color:rgb(224,181,211,0.5) ;
    border-top: 2px black solid;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 10vw;
    align-items: center;
  }

  .column-editor-text p{
    font-weight: bold;
  }

  .column-editor-image {
    width: 30%;
    height: 7vw;
  }

  /*--------------------------------------
  system-introduction
  ---------------------------------------*/
  .system-introduction {
    border:4px solid green;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px;
    width:80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .system-introducion-title {
    color: green;
    margin: 0 auto;
    margin-bottom: 10px;
    display: inline-block;
  }

  .system-introducion-title:hover{
    opacity: 0.7;
  }

  .system-introduction-accent {
    border-bottom: green 1px solid;
  }

  .system-introducion-button-image {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
    width: 90%;
  }

  .system-introducion-image{
    display: block;
  }

  .system-introducion-img {
    width:80%;
  }
  
  .system-introducion-image:hover{
    opacity: 0.7;
  }

  .system-introduction-button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: transparent;
    cursor: pointer;
    width: 40%;
    height: 3vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  .system-introduction-button img{
    width:100%;
    border-radius: 5px;
  }

  .system-introduction-button img:hover{
    opacity: 0.7;
  }

  /*--------------------------------------
  column-recommnd
  ---------------------------------------*/
  .column-recommnd{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .column-recommend-title p {
    color: #00CCFF;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .column-recommend-boxes {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
  }

  .column-recommend-box {
    width: 20%;
    margin:10px ;

  }

  .column-recommend-box-img {
    display: inline-block;
    width: 100%;
  }

  .column-recommend-box-img:hover{
    opacity: 0.7;
  }

  .column-recommend-box-img img {
    width: 100%;
  }

  .column-recommend-box-text {
    margin-top: 8px;
    width: 100%;
  }

  .column-recommend-box-text:hover{
    opacity: 0.7;
  }

  /*--------------------------------------
  column-aside
  ---------------------------------------*/
  #column-aside{
    width:30%;
    display: flex;
    flex-direction: column;
  }

  /*--------------------------------------
  PR-box
  ---------------------------------------*/
  .PR-boxes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
    width:90%;
  }

  .PR-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .PR-box:hover{
    opacity: 0.7;
  }

  .PR-box img{
    width: 100%;
  }

  /*--------------------------------------
  column-popular-article
  ---------------------------------------*/
  .column-popular-article{
    margin-bottom: 30px;
  }
  .column-popular-article-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .column-popular-article-title {
    background-color: blueviolet;
    text-align: center;
    margin-bottom: 20px;
  }

  .column-popular-article-title h3 {
    color: white;
    margin: 0 auto;
  }

  .column-popular-article-boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .column-popular-article-box {
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-bottom: 30px;
    align-items: flex-start;
  }

  .column-popular-article-box-img  {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    width:60%;
    height: 10vw;
  }

  .column-popular-article-text {
    width:35%;
  }

  .column-popular-article-text a{
    font-size: 0.8rem;
  }
  .column-popular-article-box-img img {
    margin: 0 auto;
    width: 100%;
    height: 10vw;
  }

  .column-popular-article-number {
    background-color: blueviolet;
    width: 15%;
    display: flex;
    justify-content: center;
    position: absolute;
    top:0px;
    left:0px;  
    color:white ;

  }

  /*--------------------------------------
  column-new-article
  ---------------------------------------*/
  .column-new-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .column-new-article-title {
    display: flex;
    justify-content: center;
    height:3vw;
    align-items: center;
    margin-bottom: 20px;

  }

  .column-new-article-title p{
    color: blueviolet;
    font-weight: bold;
    margin: 0;
    font-size: 1.3rem;
    
  }

  .column-new-article-boxes{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .column-new-article-box{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .column-new-article-box-title {
    background-color: blueviolet;
    position: absolute;
    top:0px;
    left:0px;
    width:25%;
    display: flex;
    justify-content: center;
  }

  .column-new-article-box-title a {
    color: white;
  }

  .column-new-article-box-img {
    display: flex;
    width:60%;
  }

  .column-new-article-box-img img{
    width:100%;
  }

  .column-new-article-box-text {
    width: 35%;
  }

  .column-new-article-box-text a{
    font-size: 0.8rem;
  }

/*--------------------------------------
Footer
---------------------------------------*/
#footer{
  margin-top: 50px;
}

/*-----------------------------------------------------------------------------------------------------
Column-iPad
-------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {

/*--------------------------------------
Column-Header
---------------------------------------*/
.column-header-site-logo {
  width: 45%;
}

/*--------------------------------------
contents
---------------------------------------*/
.column-container{
  justify-content:center;
  flex-direction: column;
}

  
/*--------------------------------------
column-main
---------------------------------------*/
  #column-main {
    width:100%;
}
/*--------------------------------------
  column-contents
  ---------------------------------------*/
  #column-contents1,
  #column-contents2,
  #column-contents3 {
    margin: 0 auto;
  }

  #column-contents2,
  #column-contents3 {
    margin-top: 20px;
  }

  .column-contents-title{
    margin-bottom: 10px;
  }
/*--------------------------------------
column-editor
---------------------------------------*/
  .column-editor {
    width: 80%;
    height:12vw;
  }

  .column-editor img {
    width: 25%;
    height: 10vw;
  }

  .column-editor-text p{
    font-size: 0.9rem;
  }

/*--------------------------------------
  column-aside
---------------------------------------*/
#column-aside {
  width:100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;

}

/*--------------------------------------
  PR-box
---------------------------------------*/
.PR-boxes{
  width: 30%;
  justify-content: flex-start;
  margin: 0;
}

  .PR-box{
    margin-bottom:0px;
    width: 100%;
  }


  .PR-box-image{
    margin: 0 auto;
  }

  .PR-box-image img{
    margin: 0 auto;
    display: block;
  }

   /*--------------------------------------
  column-popular-article
  ---------------------------------------*/
  .column-popular-article{
    width: 30%;
    justify-content: flex-start;
  }

  .column-popular-article-title {
    margin-bottom: 20px;
  }

  .column-popular-article-title h3 {
    font-size: 15px;
  }

  .column-popular-article-box{
    flex-direction: column;
  }

  .column-popular-article-box-img{
    width: 100%;
    height: 20vw;
    margin: 0;
  }

  .column-popular-article-box-img a {
    display: block;
    
  }

.column-popular-article-box-image {
  width: 100%;
}

  .column-popular-article-box-img img {
    margin: 0 auto;
    width: 100%;
    height: 20vw;
  }

  .column-popular-article-text{
    width: 100%;
  }

  .column-popular-article-text a{
    font-size: 0.7rem;
  }

  .column-popular-article-number {
    display: flex;
    justify-content: center;
    text-align: center;
  }


/*--------------------------------------
column-new-article
---------------------------------------*/
.column-new-article {
  width: 30%;
  justify-content: flex-start;
}

.column-new-article-box-title {
  margin-bottom: 20px;
}

.column-new-article-box-title p{
  font-size: 15px;
}

.column-new-article-box {
  flex-direction: column;
}

.column-new-article-box-img {
  display: flex;
  width:100%;
}

.column-new-article-box-text{
  width: 100%;
}

.column-new-article-box-text a{
  font-size: 0.7rem;
}

}

/*----------------------------------------------------------------------------------------------------
Column-SP
-----------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  

  html{
    margin: 0px;
    padding: 0px;
  }

  body{
    margin: 0px;
    padding: 0px;
  }

/*--------------------------------------
Column-Header
---------------------------------------*/
  * {
    margin: 0px;
    padding: 0px;
  }

  #column-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .column-header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .column-header-upper{
    align-items: center;
    padding: 10px 0px;
  }

  .column-header-upper h2 {
    margin: 0;
    font-size:0.6rem;
  }

  .column-header-site-logo {
    display: flex;
    align-items: center;
    width: 70%;
    height:15vw;
    margin:0 auto;
    padding: 0;
  }

  .column-header-site-logo img {
    display: block;
    height: 12vw;
  }

  /*--------------------------------------
  bread-list
  ---------------------------------------*/

  .bread-list{
    background-color:rgb(204,204,204);
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    overflow: scroll;
  }

  .bread-list ol {
    display: flex;
    padding: 5px;
    margin: 0;
  }

  .bread-list li {
    margin-right: 5px;
    font-size: 0.5rem;
  }

  .bread-list-accent {
    color: blue;
    border-bottom:blue 1px solid;
  }


/*--------------------------------------
contents
---------------------------------------*/
.column-container{
  justify-content:center;
  flex-direction: column;

}

  /*--------------------------------------
  column-main
  ---------------------------------------*/
  #column-main {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }
  
  
    /*--------------------------------------
    site-title
    ---------------------------------------*/
    .site-title {
      display: flex;
      justify-content:center;
      text-align:left;
      border-bottom:2px blueviolet solid;
      width: 95%;
      margin: 0 auto;
    }
  
    .site-title h1 {
      font-size: 0.8rem;
    }
    
  /*--------------------------------------
  editor-name
  ---------------------------------------*/
  .editor-name p{
    font-size: 0.5rem;
  }  

  /*--------------------------------------
  sns-list
  ---------------------------------------*/
  .sns-list {
    width: 90%;
  }
  .twitter {
    border-radius: 2px;
    height: 5vw;
  }

  .facebook {
    border-radius: 2px;
    height: 5vw;
  }
  .google {

    border-radius: 2px;
    height: 5vw;
  }
  .line {
    border-radius: 2px;
    height: 5vw;
    width:15%;

  }

  
  /*--------------------------------------
  Column-mainvisual
  ---------------------------------------*/
  .column-mainvisual{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .column-mainvisual img {
    width: 90%;
  }

  /*--------------------------------------
  column-index
  ---------------------------------------*/
  .column-index{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:1px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
  }

  .column-index-title {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  .column-index-title p {
    color: white;
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .column-index-contents {
    background-color:rgb(224,181,211,0.5);
    padding:10px;
    font-weight: bold;
  }

  .column-index-contents a {
    display: block;
    margin: 5px 0px;
    font-size: 0.7rem;
  }

  .column-outline p{
    font-size: 0.8rem;
  }

  /*--------------------------------------
  column-contents
  ---------------------------------------*/
  #column-contents1,
  #column-contents2,
  #column-contents3 {
    margin: 0 auto;
  }
  #column-contents2,
  #column-contents3 {
    margin-top: 20px;
  }

  .column-contents-title{
    height: 9vw;
    margin-bottom: 10px;
  }

  .column-contents-title p{
    font-size: 0.8rem;
}

  .column-contents-title-block {
    height: 9vw;
  }

  #column-contents2 img {
    width:90%;
  }

  .column-contents-text p{
    font-size: 0.8rem;
  }

  /*--------------------------------------
  column-editor
  ---------------------------------------*/
  .column-editor {
    width: 80%;
    height:30vw;
  }

  .column-editor img {
    height: 18vw;
  }

  .column-editor-text p{
    font-size: 0.7rem;
  }

  /*--------------------------------------
  system-introduction
  ---------------------------------------*/
  .system-introduction {
    border: green 4px solid;
    height: 50vw;
    justify-content: space-around;
  }

  .system-introduction a {
    font-size: 0.6rem;
  }

  .system-introducion-button-image {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  .system-introducion-button-image img {
    display: block;
    margin: 0 auto;
  }

  .system-introducion-image {
    margin-bottom: 30px;
  }
 
  /*--------------------------------------
  column-recommend
  ---------------------------------------*/
  .column-recommnd{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .column-recommend-title{
    margin: 0 auto;
  }

  .column-recommend-title p {
    text-align: center;
  }

  .column-recommend-boxes {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .column-recommend-box {
    width: 80%;
    margin: 0 auto;
    margin-bottom:30px ;


  }

/*--------------------------------------
  column-aside
  ---------------------------------------*/
  #column-aside{
    width:100%;
    flex-direction: column;
    justify-content: center;
  }

  /*--------------------------------------
  PR-box
  ---------------------------------------*/
  .PR-boxes{
    width: 100%;
  }
  .PR-box{
    margin-bottom: 20px;
    width: 100%;
  }


  .PR-box-image{
    margin: 0 auto;
  }

  .PR-box-image img{
    margin: 0 auto;
    display: block;
  }

  /*--------------------------------------
  column-popular-article
  ---------------------------------------*/
  .column-popular-article{
    width: 100%;
  }

  .column-popular-article-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .column-popular-article-title {
    background-color: blueviolet;
    text-align: center;
    margin-bottom: 20px;
  }

  .column-popular-article-title h3 {
    color: white;
    margin: 0 auto;
  }

  .column-popular-article-boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .column-popular-article-box {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    margin-bottom: 30px;
    align-items: flex-start;
  }

  .column-popular-article-box-img  {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    width:60%;
    height: 10vw;
  }

  .column-popular-article-text {
    width:35%;
  }

  .column-popular-article-text a{
    font-size: 0.8rem;
  }
  .column-popular-article-box-img img {
    margin: 0 auto;
    width: 100%;
    height: 10vw;
  }

  .column-popular-article-number {
    background-color: blueviolet;
    width: 15%;
    display: flex;
    justify-content: center;
    position: absolute;
    top:0px;
    left:0px;  
    color:white ;

  }

  .column-popular-article-box-img  {
    height: 30vw;
  }


  .column-popular-article-text a{
    font-size: 0.7rem;
  }
  .column-popular-article-box-img img {
    margin: 0 auto;
    width: 100%;
    height: 30vw;
  }


/*--------------------------------------
column-new-article
---------------------------------------*/
.column-new-article {
  width: 100%;
}

.column-new-article-title {
  display: flex;
  justify-content: center;
  height:3vw;
  align-items: center;
  margin-bottom: 20px;

}

.column-new-article-title p{
  color: blueviolet;
  font-weight: bold;
  margin: 0;
  font-size: 1.3rem;
  
}

.column-new-article-boxes{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.column-new-article-box{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 20px;
  align-items: center;
  position: relative;
  width: 100%;
}

.column-new-article-box-title {
  background-color: blueviolet;
  position: absolute;
  top:0px;
  left:0px;
  width:25%;
  display: flex;
  justify-content: center;
}

.column-new-article-box-title a {
  color: white;
}

.column-new-article-box-img {
  display: flex;
  width:60%;
}

.column-new-article-box-img img{
  width:100%;
}

.column-new-article-box-text {
  width: 35%;
}

.column-new-article-box-text a{
  font-size: 0.8rem;
}

.column-new-article-box-img {
  display: flex;
  width:63%;
}


.column-new-article-box-text a{
  font-size: 0.7rem;
}

/*--------------------------------------
Footer
---------------------------------------*/
#footer {
  height: 10vw;
}

}
